/* All */
* { margin: 0; padding: 0; }

ul { list-style: none;}

a 					{ color: #996600; text-decoration: none;  }
a:visited 	{ color: #996600; }
a:hover 		{ color: #CCCC00; }

body 						 			 { background: #FFF url('/images/gradientfromtop.gif') repeat-x; }
body, p, ul,	
td, input[type=submit] { font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #996600; }

.notice, .alert { padding: 5px; text-align: center; color: #6C6; border: 1px solid #6C6; background: #CFC; margin: 10px 10px 0; }
.alert 					{ color: #C66; background: #FCC; border: solid 1px #C66; }

/* Content */
#main { width: 900px; margin: 0px auto 10px auto; padding-bottom: 10px;}

/* Title, header and menu */
#header 							{ height: 60px; }
#header h1 						{ padding: 25px 0 0 10px; display: inline; float: left; }
#header h1 a:visited 	{ color: #CCCC00; }
#header ul 						{ float: right; margin: 10px; }

#menu 				{ padding: 5px; margin: 0 5px;}
#menu ul 			{ float: right;}
#menu ul li 	{ float: left;}
#menu ul li a { margin-left: 10px; }

#title { margin: 10px; border-bottom: 2px dotted #CCCC00; padding-bottom: 5px;} 

/* Surveys, questions ans answers */
.surveys 				{ background: #E5EECC; padding: 10px; margin: 25px 10px 10px; }
.surveys h3			{ color: #996600; }
.surveys small	{	display: block; color: #AD855C; }
.surveys h4			{ padding: 5px; color: #59A43B;}

.watch_unwatch	{ background: #fff; border: 1px solid #B89470; float: right; margin-top: -20px; padding: 5px; }
	
.manager { background: #F8FBF1; padding: 5px; margin: 5px;}

.watches		{ background: #fff; border: 1px dotted #CCCC00; padding: 5px 5px 1px 10px; margin: 5px; }
.watches li	{ margin-left: -5px; margin-right: 5px; display: inline;}

.questions    											{ border: 1px dashed #AD855C; margin: 10px; padding: 10px; background: #FFF; }
.questions li												{ margin: 5px; }
.questions input[type=submit] 			{ border: 1px solid #B89470; padding: 5px; margin: 5px; background: #CCCC00; color:; }
.questions input[type=submit]:hover { background: #FFF; cursor: pointer; }

.answers { background: #cccf00; padding: 10px; margin-top: 10px; }

.bar, .bar span { border: 1px solid #AD855C; display: inline-block; width: 340px; height: 10px; background: #D3D3D3; }
.bar span 			{ border: none; background: #CCCC00; display: block; }
.percent    		{ display: inline-block; }

/* User */
.user, .survey-form { margin: 20px 10px; }

/* New Survey */
.question-field, .answer-field { position: relative; }

.remove_field { position: absolute; top:0; right:0; }

.add-answer 	 { clear: both; padding-left: 120px; margin-bottom: 10px; }
.add-question  { padding-left: 120px; margin: 10px 0; }

.fields { width: 460px; }

/* Simple form */
.simple_form label 		 { float: left; width: 100px; text-align: right; margin: 2px 10px; }
.simple_form div.input { margin-bottom: 10px; clear: both; }
.simple_form textarea  { width: 270px; }
.simple_form div.boolean, .simple_form input[type='submit'] { margin-left: 120px; }
.simple_form div.boolean label, .simple_form label.collection_radio { float: none; margin: 0; }

.simple_form label.collection_radio { margin-right: 10px; margin-left: 2px; }
.simple_form .error { clear: left; margin-left: 120px; font-size: 12px; color: #D00; display: block; }
.simple_form .hint  { clear: left;margin-left: 120px; font-size: 12px; color: #555; display: block; font-style: italic; }