<h2>Entrar</h2>

<br/>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
 
	<%= f.input :email, :label => "E-mail" %>
	<%= f.input :password, :label => "Senha" %>
  <% # TODO: fixed checkbox %>
	<%# if devise_mapping.rememberable? -%>
    <%#= f.input :remember_me %> 
  <%# end %>
	<%= f.button :submit, "Entrar" %>
<% end %>
