<% if user_signed_in? %>
	<% if survey.user_id.eql? current_user.id %>
		<%= link_to 'Editar', edit_survey_path(survey) %> |
	  <%= link_to 'Excluir', survey, :confirm => 'Tem certeza que deseja excluir?', :method => :delete %> |
		<%= link_to  survey.published? ? "Despublicar" : "Publicar", toggle_publish_survey_path(survey), :method => :put  %>
		<% if survey.watches.any? %>
			<ul class="watches">
				<% survey.watches.each do |watch| %>
					<li>
						<%= link_to image_tag(watch.user.avatar.url(:mini), :alt => watch.user.name),
						 user_path(watch.user), :title => watch.user.name %>
					</li>
				<% end %>
			</ul>
		<% end %>
	<% end %>
<% end %>