<% title "Editar pesquisa: #{ @survey.name }" %>

<div class="survey-form">
	<%= render 'form', :btn_form => "Atualizar Pesquisa" %>
</div>

<p>
  <%= link_to "Show", @survey %> |
  <%= link_to "View All", surveys_path %>
</p>
