<% @surveys.each do |survey| %>
  <div class="surveys">
    <h3><%= link_to survey.name.titleize , survey %></h3> 
    <small><%= survey.description.titleize %></small>
		<%= render 'survey_links', :survey => survey %>
  </div>
<% end %>

