<%= title(@title) %>

<% if @surveys.any? %>
	<% @surveys.reverse.each do |survey| %>
	  <%= render 'survey', :survey => survey %>
	<% end %>
<% else %>
	<div class="surveys">Nenhuma pesquisa.</div>
<% end %>